.banner {
  background-image: url(/assets/img/banner.jpg);
  background-size: cover;
  height: toRem(300);
  width: 100%;
  display: flex;
  align-items: center;
}

.banner__textBlock {
  font-family: $ws;
  color: $white;
  margin-left: toRem(20);
}

.banner__header {
  font-weight: 700;
  font-size: toRem(25);
}

.banner__subheader {
  font-weight: 500;
  color: $blue;
}

.banner__icon {
  margin-top: toRem(5);

  &.facebook {
    width: toRem(20);
  }

  &.git {
    width: toRem(22);
  }
}

@media (min-width: $break820) {
  .banner__textBlock {
    margin-left: toRem(60);
  }

  .banner__header {
    font-size: toRem(35);
  }

  .banner__subheader {
    font-size: toRem(22);
  }
  .banner__icon {
    &.facebook {
      width: toRem(26);
    }
    &.git {
      width: toRem(28);
    }
  }
}

@media (min-width: $break1000) {
  .banner {
    height: toRem(400);
  }
}

@media (min-width: $break1300) {
  .banner__textBlock {
    margin-left: toRem(105);
  }

  .banner__header {
    font-size: toRem(45);
  }

  .banner__subheader {
    font-size: toRem(29);
  }
  .banner__icon {
    &.facebook {
      width: toRem(32);
    }
    &.git {
      width: toRem(34);
    }
  }
}

@media (min-width: $break1650) {
  .banner {
    height: toRem(500);
  }

  .banner__textBlock {
    margin-left: toRem(170);
  }

  .banner__header {
    font-size: toRem(60);
  }

  .banner__subheader {
    font-size: toRem(40);
  }
  .banner__icon {
    &.facebook {
      width: toRem(38);
    }
    &.git {
      width: toRem(40);
    }
  }
}

@media (min-width: $break2175) {
  .banner {
    height: toRem(700);
  }

  .banner__textBlock {
    margin-left: toRem(200);
  }

  .banner__header {
    font-size: toRem(90);
  }

  .banner__subheader {
    font-size: toRem(60);
  }
  .banner__icon {
    &.facebook {
      width: toRem(50);
    }
    &.git {
      width: toRem(52);
    }
  }
}