@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  background-image: url(/assets/img/banner.webp);
  background-size: cover;
  height: 18.75rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__textBlock {
  font-family: "Work Sans";
  color: #E5E5E5;
  margin-left: 1.25rem;
}

.banner__header {
  font-weight: 700;
  font-size: 1.5625rem;
}

.banner__subheader {
  font-weight: 500;
  color: #21ADBA;
}

.banner__icon {
  margin-top: 0.3125rem;
}

.banner__icon.facebook {
  width: 1.25rem;
}

.banner__icon.git {
  width: 1.375rem;
}

@media (min-width: 820px) {
  .banner__textBlock {
    margin-left: 3.75rem;
  }
  .banner__header {
    font-size: 2.1875rem;
  }
  .banner__subheader {
    font-size: 1.375rem;
  }
  .banner__icon.facebook {
    width: 1.625rem;
  }
  .banner__icon.git {
    width: 1.75rem;
  }
}

@media (min-width: 1000px) {
  .banner {
    height: 25rem;
  }
}

@media (min-width: 1300px) {
  .banner__textBlock {
    margin-left: 6.5625rem;
  }
  .banner__header {
    font-size: 2.8125rem;
  }
  .banner__subheader {
    font-size: 1.8125rem;
  }
  .banner__icon.facebook {
    width: 2rem;
  }
  .banner__icon.git {
    width: 2.125rem;
  }
}

@media (min-width: 1650px) {
  .banner {
    height: 31.25rem;
  }
  .banner__textBlock {
    margin-left: 10.625rem;
  }
  .banner__header {
    font-size: 3.75rem;
  }
  .banner__subheader {
    font-size: 2.5rem;
  }
  .banner__icon.facebook {
    width: 2.375rem;
  }
  .banner__icon.git {
    width: 2.5rem;
  }
}

@media (min-width: 2175px) {
  .banner {
    height: 43.75rem;
  }
  .banner__textBlock {
    margin-left: 12.5rem;
  }
  .banner__header {
    font-size: 5.625rem;
  }
  .banner__subheader {
    font-size: 3.75rem;
  }
  .banner__icon.facebook {
    width: 3.125rem;
  }
  .banner__icon.git {
    width: 3.25rem;
  }
}

.portfolio {
  background-color: #EAEAEA;
  font-family: "Work Sans";
}

.portfolio__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__heading {
  margin-top: 1.25rem;
  font-weight: 700;
  font-size: 1.5rem;
}

.portfolio__line {
  background-color: #21ADBA;
  height: 0.125rem;
  width: 7.5rem;
  margin-bottom: 1.875rem;
}

.portfolio__mainArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__portLine {
  background-color: #21ADBA;
  height: 73.125rem;
  width: 0.1875rem;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.portfolio__portLine.desktop {
  display: none;
}

.portfolio__rightArea {
  margin-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.portfolio__skillsArea {
  margin-left: 1.25rem;
}

.portfolio__skillsAreaPicture {
  width: 100%;
  border-radius: 6.25rem;
  max-width: 9.375rem;
  margin-top: 2.5rem;
  margin-bottom: 1.875rem;
}

.portfolio__textBlock {
  margin-bottom: 2.1875rem;
  max-width: 12rem;
  min-width: 12rem;
}

.portfolio__textBlockHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__textBlockDot {
  background-color: #21ADBA;
  height: 0.8125rem;
  width: 0.8125rem;
  border-radius: 50%;
  position: relative;
  right: 12.9375rem;
}

.portfolio__textBlockParagraph {
  font-size: 0.875rem;
  font-weight: 500;
}

.portfolio__textBlockParagraph.second {
  margin-bottom: 1.25rem;
}

.portfolio__textBlockSubHeaders {
  margin-bottom: 0.6875rem;
}

.portfolio__textBlockSubHeader {
  font-size: 0.875rem;
}

.portfolio__textBlockSkillsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.25rem;
}

.portfolio__textBlockSkillsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 77%;
  margin-top: 0.625rem;
  max-width: 15rem;
}

.portfolio__textBlockSkillsHeading {
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.portfolio__textBlockSkillsHeading.desktop {
  display: none;
}

.portfolio__textBlockSkillsBottom {
  width: 80%;
  max-width: 15.625rem;
  height: 1.25rem;
  background-color: #DADADA;
  border-radius: 6.25rem;
}

.portfolio__textBlockSkillsTop {
  width: 90%;
  height: 1.25rem;
  background-color: #21ADBA;
  border-radius: 6.25rem;
}

.portfolio__textBlockSkillsTop.css {
  width: 80%;
}

.portfolio__textBlockSkillsTop.js {
  width: 40%;
}

.portfolio__textBlockSkillsTop.ps {
  width: 40%;
}

.accent {
  font-weight: 400;
}

@media (min-width: 550px) {
  .portfolio__portLine {
    margin-left: 4.375rem;
    height: 62.5rem;
  }
  .portfolio__textBlock {
    max-width: 18.75rem;
    min-width: 18.75rem;
  }
  .portfolio__textBlockDot {
    right: 19.6875rem;
  }
  .portfolio__textBlockSkillsHeading.desktop {
    display: block;
  }
  .portfolio__textBlockSkillsHeading.mobile {
    display: none;
  }
}

@media (min-width: 1000px) {
  .portfolio__portLine {
    height: 37.5rem;
  }
  .portfolio__portLine.desktop {
    display: block;
    height: 25rem;
  }
  .portfolio__changingArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .portfolio__skillsAreaPicture {
    max-width: 12.5rem;
  }
}

@media (min-width: 1300px) {
  .portfolio__mainArea {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__portLine {
    height: 56.25rem;
  }
  .portfolio__heading {
    font-size: 1.875rem;
  }
  .portfolio__line {
    width: 9.375rem;
  }
  .portfolio__textBlockHeading {
    font-size: 1.3125rem;
  }
  .portfolio__textBlockParagraph {
    font-size: 1.1875rem;
  }
  .portfolio__textBlockSubHeader {
    font-size: 1.1875rem;
  }
  .portfolio__changingArea {
    max-width: 69.375rem;
  }
  .portfolio__skillsAreaPicture {
    max-width: 18.75rem;
    border-radius: 12.5rem;
    margin-top: 9.375rem;
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1B1818;
  font-family: "Work Sans";
  width: 100%;
}

.work__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__heading {
  color: #E5E5E5;
  margin-top: 1.25rem;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.1875rem;
}

.work__line {
  background-color: #21ADBA;
  height: 0.125rem;
  width: 7.5rem;
  margin-bottom: 1.875rem;
}

.work__mainArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__mainAreaItem {
  position: relative;
  border: solid 0.125rem #21ADBA;
  margin-bottom: 3.125rem;
  width: 60%;
}

.work__mainAreaItemPicture {
  width: 100%;
}

.work__mainAreaItemOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #21ADBA;
}

.work__mainAreaItemOverlayText {
  color: #E5E5E5;
  font-size: 1.25rem;
  font-family: "Work Sans";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.work__mainAreaItem:hover .work__mainAreaItemOverlay {
  opacity: 1;
}

@media (min-width: 820px) {
  .work__mainArea {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.5625rem;
  }
  .work__mainAreaItem {
    width: 20%;
  }
}

@media (min-width: 1000px) {
  .work__heading {
    font-size: 1.875rem;
  }
  .work__line {
    width: 9.0625rem;
  }
}

.footer {
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__mainArea {
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__mainAreaSocials {
  margin: 0 auto;
}

.footer__mainAreaCopyright {
  font-family: "Work Sans";
  font-weight: 400;
  color: #969494;
  margin: 0 auto;
}

@media (min-width: 1300px) {
  .footer__mainAreaCopyright {
    font-size: 1.125rem;
  }
}
/*# sourceMappingURL=main.css.map */