//Breakpoints
$break550: 550px;
$break820: 820px;
$break1000: 1000px;
$break1300: 1300px;
$break1650: 1650px;
$break2175: 2175px;

//Colors
$white: #E5E5E5;
$whitebg: #EAEAEA;
$gray: #DADADA;
$blue: #21ADBA;
$black: #1B1818;
$graycy: #969494;


//Fonts
$ws: 'Work Sans';

